<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns:background="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
    {% load staticfiles %}
   <meta charset="utf-8">
    <title>Abstract</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
   <link rel="stylesheet" href="{% static 'home/css/vendor.css' %}">
   <link rel="stylesheet" href="{% static 'home/css/main.css' %}">

	<script src="{%  static 'home/js/modernizr.js' %}"></script>
	<script src="{%  static 'home/js/pace.min.js' %}"></script>

           <link rel="shortcut icon" href="{% static 'home/images/favicon.ico' %}" type="image/x-icon">
	        <link rel="icon" href="favicon.ico" type="image/x-icon">
     {# 背景图片模糊滤镜    #}
   <style type="text/css">
       .blur {
            filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
            -webkit-filter: blur(6px); /* Chrome, Opera */
            -moz-filter: blur(6px);
            -ms-filter: blur(6px);
            filter: blur(6px);
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
        }
   </style>
    {% load staticfiles %}
</head>

<body id="top" onload="sethei()">
 <div class="blur" id="bg_img" style="position:absolute;z-index:-1;width:100%;background: url('{{ bg_img }}');">
         </div>
   <header class="short-header">

   	<div class="gradient-block"></div>

   	<div class="row header-content">



   		<div class="logo" >
            {%if user.is_authenticated  %}
	         <a href="{% url 'online:zhanghao' user.id %}" style="display: block;margin: 0;padding: 0;outline: 0;border: none;width: 60px;height: 60px;background: url({{ user.profile.touxiang.url }}) no-repeat center;background-size: 60px 60px;font: 0/0 a;text-shadow: none;color: transparent;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;">{{ user.username }}</a>
             {% else %}
         	 <a href="{% url 'online:login' %}" style="display: block;margin: 0;padding: 0;outline: 0;border: none;width: 60px;height: 60px;background: url({% static 'home/../../../media/../../../mydjango/static/home/images/logo.png' %}) no-repeat center;background-size: 60px 60px;font: 0/0 a;text-shadow: none;color: transparent;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;">{{ user.username }}</a>
       {% endif %}
	      </div>
	   	<nav id="main-nav-wrap">
				<ul class="main-navigation sf-menu">
					<li class="has-children"><a href="http://www.feiblog.cn/" title="">[主页]</a></li>
					<li class="current">
						<a href="{% url 'home:showmokuai' %}" title="">[板块]</a>
					</li>
					<li class="has-children">
						<a  href="{% url 'home:leixing' lx_list.0.id %}" title="">[看文章]</a>
						<ul class="sub-menu">
			           {% for l in lx_list %}
                             <li><a href="{% url 'home:leixing' l.id %}">{{ l.name }}</a></li>
                            {% endfor %}
			         </ul>
					</li>
					 {% if user.is_authenticated  %}
                         <li class="has-children">
						    <a  href="{% url 'online:zhanghao' user.id %}" title="">[{{ user.first_name }}]</a>
						<ul class="sub-menu">
			            <li><a href="{% url 'online:zhanghao' user.id %}">账户</a></li>
			            <li><a href="{% url 'blog:add_blog' %}">想到了点骚东西,我要把它写出来</a></li>
			            <li><a href="{% url 'online:logout' %}">登出</a></li>
			         </ul>
                        {% else %}
                    <li><a href="{% url 'online:login' %}" title="">[登录注册]</a></li>
                     {% endif %}
					<li><a href="" title="">[本站说明]</a></li>
					<li><a href="" title="">[其他酷站]</a></li>
				</ul>


			</nav> <!-- end main-nav-wrap -->

		<div class="search-wrap">

				<form role="search" method="post" class="search-form" enctype="multipart/form-data" action="{% url 'home:seach' %}">{% csrf_token %}
					<label>
						<span class="hide-content">Search for:</span>
						<input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="key" title="Search for:" autocomplete="off">
					</label>
					<input type="submit" class="search-submit" value="Search">
				</form>

				<a href="#" id="close-search" class="close-btn">Close</a>

			</div> <!-- end search wrap -->

			<div class="triggers">
				<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
				<a class="menu-toggle" href="#"><span>Menu</span></a>
			</div> <!-- end triggers -->

   	</div>

   </header> <!-- end header -->

 <!-- page header
   ================================================== -->
   <section id="page-header">
   	<div class="row current-cat">
   		<div class="col-full">
   			<h1>{{ text }}</h1>
   		</div>
   	</div>
   </section>
   <!-- masonry
   ================================================== -->
   <section id="bricks" class="with-top-sep">

   	<div class="row masonry">

   		<!-- brick-wrapper -->
         <div class="bricks-wrapper">
            <H1> {{ user.profile.touxiang.get_touxiang_url }}</H1>
         	<div class="grid-sizer"></div>
            {% for blog in zuixinbokewei %}
                <article class="brick entry format-standard animate-this">
                   <div class="entry-thumb">
                       {% comment %}图片{% endcomment %}
                      <a href="{% url 'blog:show_blog' blog.id%}" class="thumb-link">
                              <img src="{{ blog.get_fengmian_url }}" alt="building">
                      </a>
                   </div>
                   <div class="entry-text">
                        <div class="entry-header">
                            <div class="entry-meta">
                                <span class="cat-links">
                                    <a href="{% url 'online:zhanghao' blog.zuozhe.id %}">{{ blog.zuozhe.first_name }}</a>{% comment %}用户{% endcomment %}
                                    <a href="{% url 'home:mokuai' blog.bankuai.id %}">{{ blog.bankuai }}</a>{% comment %}板块{% endcomment %}
                                </span>
                            </div>{% comment %}标题{% endcomment %}
                            <h1 class="entry-title"><a href="{% url 'blog:show_blog' blog.id%}">{{ blog.get_title }}</a></h1>
                        </div>
                            <div class="entry-excerpt">{% comment %}内容摘要{% endcomment %}
                                 {{ blog.get_content }}
                            </div>
                   </div>
        		</article> <!-- end article -->
             {% endfor %}
         </div> <!-- end brick-wrapper -->

   	</div> <!-- end row -->
   	<div class="row">
   		<nav class="pagination">
{% comment %}分页吗的模板功能{% endcomment %}
        {% if zuixinbokewei %}
        {% if urltype == 'mokuai' %}
                              {% if pagesum.shang.0 == 0 %}
                                    <span class="page-numbers prev inactive">Prev</span>
                                    {% else %}
                                    <a href="{% url 'home:mokuai=' id pagesum.shang.1 %}" class="page-numbers prev">Prev</a>
                              {% endif %}

                                {% for page in pagesum.sum %}
                                    {% if page == pagesum.dangqian %}
                                         <span class="page-numbers current">{{ pagesum.dangqian }}</span>
                                    {% else %}
                                        <a href="{% url 'home:mokuai=' id page %}"  class="page-numbers">{{ page }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if pagesum.next.0 == 0 %}
                                    <span class="page-numbers next inactive">Next</span>
                                    {% else %}
                                    <a href="{% url 'home:mokuai=' id pagesum.next.1 %}" class="page-numbers next">Next</a>
                                {% endif %}
                    {% elif urltype == 'leixing' %}
                                      {% if pagesum.shang.0 == 0 %}
                                <span class="page-numbers prev inactive">Prev</span>
                                {% else %}
                                <a href="{% url 'home:leixing=' id pagesum.shang.1 %}" class="page-numbers prev">Prev</a>
                                {% endif %}

                            {% for page in pagesum.sum %}
                                {% if page == pagesum.dangqian %}
                                     <span class="page-numbers current">{{ pagesum.dangqian }}</span>
                                {% else %}
                                    <a href="{% url 'home:leixing=' id page %}"  class="page-numbers">{{ page }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if pagesum.next.0 == 0 %}
                                <span class="page-numbers next inactive">Next</span>
                                {% else %}
                                <a href="{% url 'home:leixing=' id pagesum.next.1 %}" class="page-numbers next">Next</a>
                            {% endif %}
                    {% elif urltype == 'seach' %}
                                           {% if pagesum.shang.0 == 0 %}
                                            <span class="page-numbers prev inactive">Prev</span>
                                            {% else %}
                                            <a href="{{ pagesum.shang.1 }}" class="page-numbers prev">Prev</a>
                                    {% endif %}

                                        {% for page in pagesum.sum %}
                                            {% if page == pagesum.dangqian %}
                                                 <span class="page-numbers current">{{ pagesum.dangqian }}</span>
                                            {% else %}
                                                <a href="{{ page }}"  class="page-numbers">{{ page }}</a>
                                            {% endif %}
                                        {% endfor %}
                                        {% if pagesum.next.0 == 0 %}
                                            <span class="page-numbers next inactive">Next</span>
                                            {% else %}
                                            <a href="{{ pagesum.next.1 }}" class="page-numbers next">Next</a>
                                    {% endif %}
        {% endif %}
            {% else %}
            <H3>该分类没有没有相关文章。<a href="{% url 'blog:add_blog' %}">去创建</a></H3>
        {% endif %}
{% comment %}分页吗的模板功能{% endcomment %}
	      </nav>

   	</div>

   </section> <!-- end bricks -->


   <!-- footer
   ================================================== -->
   <footer>

   	<div class="footer-main">

   		<div class="row">

	      	<div class="col-four tab-full mob-full footer-info">

	            <h4>About Our Site</h4>

	               <p>
		          	Lorem ipsum Ut velit dolor Ut labore id fugiat in ut fugiat nostrud qui in dolore commodo eu magna Duis cillum dolor officia esse mollit proident Excepteur exercitation nulla. Lorem ipsum In reprehenderit commodo aliqua irure labore.
		          	</p>

		      </div> <!-- end footer-info -->

	      	<div class="col-two tab-1-3 mob-1-2 site-links">

	      		<h4>Site Links</h4>

	      		<ul>
	      			<li><a href="#">About Us</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>

	      	</div> <!-- end site-links -->

	      	<div class="col-two tab-1-3 mob-1-2 social-links">

	      		<h4>Social</h4>

	      		<ul>
	      			<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Dribbble</a></li>
						<li><a href="#">Google+</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>

	      	</div> <!-- end social links -->

	      	<div class="col-four tab-1-3 mob-full footer-subscribe">

	      		<h4>Subscribe</h4>

	      		<p>Keep yourself updated. Subscribe to our newsletter.</p>

	      		<div class="subscribe-form">

	      			<form id="mc-form" class="group" novalidate="true">

							<input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Type &amp; press enter" required="">

			   			<input type="submit" name="subscribe" >

		   				<label for="mc-email" class="subscribe-message"></label>

						</form>

	      		</div>

	      	</div> <!-- end subscribe -->

	      </div> <!-- end row -->

   	</div> <!-- end footer-main -->

   </footer>

   <div id="preloader">
    	<div id="loader"></div>
   </div>
   <!-- Java Script
   ================================================== -->
   <script src="{% static 'home/js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'home/js/plugins.js' %}"></script>
   <script src="{% static 'home/js/jquery.appear.js' %}"></script>
   <script src="{% static 'home/js/main.js' %}"></script>
  <script>
        var gao1;
function sethei(){
    gao1=document.getElementById('bricks').scrollHeight
    document.getElementById('bg_img').style.height=gao1+'px'
};
var gao2 = 0;
$(window).scroll(function(){
        gao2=document.getElementById('bricks').scrollHeight
        gao1= gao2
        document.getElementById('bg_img').style.height=gao1+300+'px'
});

   </script>
</body>

</html>