<!DOCTYPE html>
 {% load staticfiles %}
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>服务器404</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'error404/css/base.css' %}">
   <link rel="stylesheet" href="{% static 'error404/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'error404/css/vendor.css' %}css/vendor.css">

   <!-- script
   ================================================== -->
	<script src="{% static 'error404/js/modernizr.js' %}"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body>

	<!-- header
   ================================================== -->
   <header class="main-header">
   	<div class="row">
   		<div class="logo">
	         <a href="{% url 'home:home' %}">回主页</a>
	      </div>
   	</div>

   	<a class="menu-toggle" href="#"><span>Menu</span></a>
   </header> <!-- /header -->

   <!-- navigation
   ================================================== -->
   <nav id="menu-nav-wrap">

   	<h5>Site Pages</h5>
		<ul class="nav-list">
			<li><a href="{% url 'home:home' %}" title="">Home</a></li>
			<li><a href="#" title="">About</a></li>
			<li><a href="#" title="">Portfolio</a></li>
			<li><a href="#" title="">Blog</a></li>
			<li><a href="#" title="">FAQ</a></li>
			<li><a href="#" title="">Contact</a></li>
		</ul>

		<h5>错误报告</h5>
		<p>{{ e }}</p>

	</nav>

	<!-- main content
   ================================================== -->
   <main id="main-404-content" class="main-content-particle-js">

   	<div class="content-wrap">

		   <div class="shadow-overlay"></div>

		   <div class="main-content">
		   	<div class="row">
		   		<div class="col-twelve">

			  			<h1 class="kern-this">404 Error.</h1>
			  			<p>
						{{ msg }}
			  			</p>

			  			<div class="search">
				      	<form>
								<input type="text" id="s" name="s" class="search-field" placeholder="Type and hit enter …">
							</form>
				      </div>

			   	</div> <!-- /twelve -->
		   	</div> <!-- /row -->
		   </div> <!-- /main-content -->

		   <footer>
		   	<div class="row">

		   		<div class="col-seven tab-full social-links pull-right">
			   		<ul>
				   		<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					      <li><a href="#"><i class="fa fa-behance"></i></a></li>
					      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
					      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
					      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
				   	</ul>
			   	</div>

		  			<div class="col-five tab-full bottom-links">
			   		<ul class="links">
				   		<li><a href="{% url 'home:home' %}">Homepage</a></li>
				         <li><a href="#">call me</a></li>
				         <li><a href="2315597297@qq.com">Report Error</a></li>
				   	</ul>

				   	<div class="credits">
				   	</div>
			   	</div>

		   	</div> <!-- /row -->
		   </footer>

		</div> <!-- /content-wrap -->

   </main> <!-- /main-404-content -->

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="{% static 'error404/js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'error404/js/plugins.js' %}"></script>
   <script src="{% static 'error404/js/main.js' %}"></script>

</body>
 {% load staticfiles %}
</html>